<header>
    <nav>
        <div>
            <a href="routeur.php?objet=adherent">Les adherents</a>
        </div>
        <div>
            <a href="routeur.php?objet=serie">Les series</a>
        </div>
        <div>
            <a href="routeur.php?objet=auteur">Les auteur</a>
        </div>
        <div>
            <a href="routeur.php?objet=bd">Les bds</a>
        </div>
        <div>
            <a href="routeur.php?objet=categorie">Les catégories</a>
        </div>
        <div>
            <a href="routeur.php?objet=etat">Les états</a>
        </div>
        <div>
            <a href="routeur.php?objet=nationalite">Les nationalités</a>
        </div>
    </nav>
</header>